app component <br/>
<button routerLink="component1" > component 1 </button>  
<button routerLink="component2" > component 2 </button>  
<button routerLink="plugin/plugin1/plg" > plugin </button>  
<br/>
<router-outlet></router-outlet>